.about {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .heading {
    display: none;
  }

  .portrait {
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: $mid;
    width: 430px;
  }

  .info {
    h1 {
      font-weight: 900;
      font-size: 2.5em;
      // font-style: italic;
    }

    p {
      width: 500px;
      color: #8c8f94;
    }
  }
}

@media (max-width: 1144px) {
  .about {
    flex-direction: column;
    align-items: center;

    .container {
      flex-direction: column;
      align-items: center;
    }

    .heading {
      display: block;
    }

    .info {
      h1 {
        display: none;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .about {
    padding: 15px;
    box-sizing: border-box;

    .portrait {
      width: 80%;
      margin-right: 0;
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;
      box-sizing: border-box;

      h1 {
        display: none;
      }

      p {
        width: 100%;
      }
    }
  }
}
