.faq {
  width: 100%;
  padding: 50px 150px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .heading {
    align-self: center;
  }

  .question {
    background-color: $red;
    border-radius: 15px;
    box-shadow: $mid;
    padding: 20px;
    color: white;
  }

  .answer {
    background-color: #dbc5c6;
    width: 600px;
    border-radius: 15px;
    box-shadow: $mid;
    padding: 20px;
    color: white;
    align-self: flex-end;
  }
}

@media (max-width: 872px) {
  .faq {
    padding: 15px;
    align-items: center;

    .question,
    .answer {
      width: 100%;
      box-sizing: border-box;
      margin: 7px;
    }

    .answer {
      align-self: auto;
    }
  }
}
