.how-we-work {
  padding: 50px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
  }

  .bold {
    font-weight: bold;
  }

  .hex {
    width: 300px;
    height: 350px;
    background-image: url(../assets/hex.svg);
    padding: 30px;
    box-sizing: border-box;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.19));
    margin-right: 30px;

    p {
      font-size: 0.9em;
      hyphens: auto;
    }
  }

  // .arrow_box,
  // .last_box {
  //   position: relative;
  //   background: #ffffff;
  //   border: 4px solid #cc3d3d;
  //   width: 18%;
  //   box-shadow: $mid;
  //   border-radius: 15px;
  //   padding: 30px;
  // }

  // .arrow_box {
  //   margin-right: 32px;
  // }

  // .arrow_box:after,
  // .arrow_box:before {
  //   left: 100%;
  //   top: 50%;
  //   border: solid transparent;
  //   content: ' ';
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  // }

  // .arrow_box:after {
  //   border-color: rgba(255, 255, 255, 0);
  //   border-left-color: #ffffff;
  //   border-width: 30px;
  //   margin-top: -30px;
  // }
  // .arrow_box:before {
  //   border-color: rgba(204, 61, 61, 0);
  //   border-left-color: #cc3d3d;
  //   border-width: 36px;
  //   margin-top: -36px;
  // }
}

@media (max-width: 575.98px) {
  .how-we-work {
    padding: 15px;

    .heading {
      text-align: center;
    }

    .container {
      flex-direction: column;
    }

    .hex {
      margin-right: 0;
    }
  }
}
