.how-we-work {
  padding: 50px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
  }

  .bold {
    font-weight: bold;
  }

  .hex {
    width: 300px;
    height: 350px;
    background-image: url(../assets/hex.svg);
    padding: 30px;
    box-sizing: border-box;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.19));
    margin-right: 30px;

    p {
      font-size: 0.9em;
      hyphens: auto;
    }
  }
}

@media (max-width: 575.98px) {
  .how-we-work {
    padding: 15px;

    .heading {
      text-align: center;
    }

    .container {
      flex-direction: column;
    }

    .hex {
      margin-right: 0;
    }
  }
}
