.reviews {
  width: 100%;
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .glide2 {
    width: 100%;

    .glide__slide {
      height: 200px;
      text-align: center;
      transition: transform 0.25s ease;

      &--active {
        z-index: 999;
      }
    }

    .glide__slides {
      align-items: center;
    }

    .photo {
      object-fit: contain;
      height: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .reviews {
    padding: 15px;

    .glide__slide {
      height: unset;
      align-items: center;
      display: flex;
      align-items: center;
    }

    .photo {
      height: unset;
      width: 100%;
    }
  }
}
