.start {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe7e7;
  //   padding: 15px;

  .heading {
    display: none;
  }

  .photos {
    img {
      height: 550px;
      margin: 15px;
      border-radius: 5px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  .iphone {
    position: absolute;
    height: 60%;
    bottom: 15px;
    left: 50px;
  }

  p {
    width: 600px;
    text-align: center;
    color: #8c8f94;
  }
}

@media (max-width: 575.98px) {
  .start {
    flex-direction: column-reverse;
    padding: 15px;
    box-sizing: border-box;

    .heading {
      display: block;
    }

    p {
      width: 100%;
    }

    .iphone {
      position: relative;
      width: 80%;
      height: auto;
      bottom: unset;
      left: unset;
      filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.19));
    }

    .photos {
      text-align: center;
      width: 100%;
      display: none;
    }
  }
}
