section.about#about
    h1.heading О нас
    .container
        img.portrait(src="./assets/portrait.jpg" alt="Основатель агенства Анна Сергеевна")
        .info
            h1 О нас
            h3 Основатель агенства Анна Сергеевна
            p 
                | ПРИВЕТ, ДРУЗЬЯ!
                | <br>Меня зовут Аня и я основатель агенства “A.S SMM” Думаю, почему мы называемся именно так догадаться не сложно) Мое имя и отчество, а еще я увлекаюсь фотографией и именно от сюда началась вся моя деятельность и тот самый “бренд” на “A.S” :) кстати, ознакомиться с моей деятельностью также можно на страничке инстаграм под ником “A.S_Photo” :)
                | <br><br>В сфере СММ я работаю с 2017 года. В моей копилке работа с брендами самых разных направлений, начиная мелкими кофейнями и заканчивая стоматологическими клиниками.
                | <br><br>Вместе мы продвинем Ваши социальные сети и поможем Вам найти новых потенциальных клиентов с помощью Вашего Инстаграмма или группы Вконтакте! Да, это именно совместная работа, с вашей помощью я смогу узнать все тонкости Вашего бизнеса и затем правильно рассказать о нем Вашим клиентам! У меня в запасе множество авторских методов ведения и продвижения социальных сетей, которые применимы к любой сфере.