section.additional#additional
    h1.heading Дополнительные услуги
    .grid
        .item
            h6.title Настройка Таргетированной рекламы Instagram
            p.description В услугу входит:
            ul.info
                li Качественный подбор Вашей целевой аудитории
                li Анализ групп конкурентов
                li Создание продающего рекламного объявления, выбор лучшего по количеству переходов
                li Подбираем минимальную цену за переход
                li Полная поддержка в течении работы рекламной компании
                li По результатам работы полная отчетность
                li Рекламный Бюджет оплачивается отдельно
            p.description Стоимость - 2 000₽
        .item
            h6.title Настройка Таргетированной рекламы ВКонтакте
            p.description В услугу входит:
            ul.info
                li Конкурентный анализ
                li Проработка логики рекламной кампании: как и чем трогать аудиторию
                li Выделение целевых аудиторий (ЦА), их болей и способов воздействия на них рекламой
                li Создание и настройка рекламных кампаний Вконтакте
                li Поддержка в течении времени работы компании
                li Аналитика и отчёт
                li Рекламный Бюджет оплачивается отдельно
            p.description Стоимость - 1 500₽
        .item
            h6.title Ведение и продвижение группы ВКонтакте
            p.description Наше агенство занимается ведением и продвижение групп ВКонтакте 
            p.description Базовый пакет, включает в себя: 
            ul.info
                li Выкладка постов от 3 до 5 ежедневно
                li В месяц выкладка от 90 до 150 постов
                li Аналитика группы
                li Покупка рекламы в пабликах (нужен доп.бюджет)
                li Написание уникальных текстов по тематике группы
                li Написание продающих постов
                li Работа с подписчиками - интерактивы, конкурсы, опросы и так далее
                li Подведение итогов конкурса
                li Увеличение статистики в группе
            p.description Стоимость - 10 000₽
        .item
            h6.title Создание инстаграм под ключ
            p.description Наше агенство создаст инстаграм для вашего бизнеса! 
            p.description Пакет включает в себя: 
            ul.info
                li Создание инстаграмм аккаунта
                li Разработка фирменного логотипа
                li Создание иконок актуальных сторис
                li Создание 9 публикаций в единой стилистике под Ваш аккаунт
                li Грамотное описание профиля
            p.description Стоимость - 5 000₽
        .item
            h6.title Создание лицензированного фото-контента
            p.description Включает в себя: 
            ul.info
                li Разработка концепции фотосессии
                li Согласование с клиентом
                li Организация процесса фотосъемки и постпродакшн
                li Агентство предоставляет клиенту готовые к публикации снимки
            p.description Стоимость - 3 500₽
        .item
            h6.title Работа с блоггерами
            p.description Включает в себя: 
            ul.info
                li Поиск блоггера по ЦА
                li Аналитика аккаунта и статистики блоггера
                li Запрос цены
                li Передача информации заказчику
                li Договариваемся о рекламном посте или Сториз
                li Контролируем выкладку поста или Сториз
                li Собираем аналитику по публикации или Сториз
            p.description Стоимость - 2 000₽