section.contact-form#contact-form
    h1.heading Получи бесплатную консультацию
    p.description Оставьте ваши контактные данные и мы свяжемся с вами для консультации!
    .container
        form.form#form(action="/")
            span.input
                label Имя
                input(type="text", name="name" required placeholder="Как к Вам обращаться")
            span.input
                label Телефон
                input.tel-num(type="tel", name="tel" required placeholder="Введите номер телефона")
            button.submit(type="submit") ЗАПИСАТЬСЯ
        img.pic(src="./assets/pic.png", alt="")