footer.contacts#contacts
    .contact
        h6.title Наши контакты
        a.button.scroll-link(href="#contact-form") Заявка на услугу
    .contact
        h6.title Позвоните нам
        span.like-button +7 (918) 598-70-57
    .contact
        h6.title Напишите нам
        a.button(href="mailto:as.smm@bk.ru") as.smm@bk.ru