section.faq
    h1.heading Ответы на популярные вопросы
    p.question Как понять, что мне необходимы услуги SMM агенства?
    p.answer Социальные сети – прекрасный источник целевой аудитории. Стратегия в социальных сетях подойдет тому, кто хочет создать базу из потенциальных клиентов – подписчиков сообществ, сравнительно быстро увеличить свои продажи и держать их на высоком уровне.
    p.question Какие основные преимущества у SMM?
    p.answer
        | 1. Широкий охват целевой аудитории.
        | <br>2. Таргетинг. Возможен выбор аудитории с высокой точностью.
        | <br>3. Пользователи не относятся к продвижению в социальных сетях, как к рекламе. Таким образом, они доверяют этой информации
        | больше.
        | <br>4. Обратная связь с целевой аудиторией. За счет этого есть возможность быстро реагировать на пожелания или замечания
        | потенциальных клиентов, корректировать план действий.
    p.question Как понять, что мне необходимо ведение страницы Instagram?
    p.answer Instagram -  социальная сеть, которая очень быстро развивается. В настоящее время в Instagram появляется все больше текстового и разнообразного медиаконтента. К тому же в этой сети способы интерактивного контакта с аудиторией в разы шире, нежели ВКонтакте и Facebook. Поэтому она подойдет бизнесу, которому важна прямая коммуникация с клиентами.