header.header
    a(href="#").logo.scroll-link
        img(src="./assets/logo.png", alt="Логотип агенства")
    button.mob-menu-toggle &#9776; 
    .mob-menu.closed
        a.mob-menu-back(href="") < Назад
        a.scroll-link(href="#") Главная
        a.scroll-link(href="#about") О нас
        a.scroll-link(href="#additional") Услуги
        a.scroll-link(href="#how-we-work") Как мы работаем?
        a.scroll-link(href="#portfolio") Портфолио
        a.scroll-link(href="#services") Цены
        a.scroll-link(href="#contacts") Связь с нами
        a.mob-button.scroll-link(href="#contact-form") Запишись на бесплатную консультацию
    nav.menu
        a.scroll-link(href="#about") О нас
        a.scroll-link(href="#additional") Услуги
        a.scroll-link(href="#how-we-work") Как мы работаем?
        a.scroll-link(href="#portfolio") Портфолио
    //- img(src="./assets/logo2.png", alt="Логотип агенства").logo2
    nav.menu
        a.scroll-link(href="#services") Цены
        a.scroll-link(href="#contacts") Связь с нами
    a.button.scroll-link(href="#contact-form") Запишись на бесплатную консультацию