section.how-we-work#how-we-work
    h1.heading Как мы работаем?
    .container
        .hexagon
            span.inner
                h6.title ШАГ 1
                p.bold Разрабатываем стратегию продвижения
                p.info Поэтапно прописываем позиционирование бренда, правила ведения соцсетей и общения с аудиторией, контент-стратегию, рекламную стратегию, воронку трафика и систему аналити и отчетности 
        .hexagon
            span.inner
                h6.title ШАГ 2
                p.bold Разрабатываем фирменный стиль и оформляем соцсети
                p.info Готовим проект к продвижению:<br>разрабатываем фирменный стиль, оформляем сообщества, составляем контент-план и готовим публикации, разрабатываем карту сегментов и готовим рекламные креативы
        .hexagon
            span.inner
                h6.title ШАГ 3
                p.bold Публикуем контент и общаемся с аудиторией
                p.info Создаем контент-план и запускаем по нему постинг в соцсетях. Анализируем вовлеченность аудитории и рост трафика. Улучшаем стратегию на основе полученных данных
        .hexagon
            span.inner
                h6.title ШАГ 4
                p.bold Готовим аналитический отчет и оптимизируем стратегию
                p.info По итогам месяца отчитываемся о выполненных задачах, анализируем результаты и предлагаем, как оптимизировать стратегию
    //- .hex
    //-     .hexTop
    //-     .hexBottom