section.portfolio#portfolio
    h1.heading Портфолио
    p.description В каждой нашей работе заложена частичка нашей души
    .glide
        .glide__track(data-glide-el="track")
            ul.glide__slides
                li.glide__slide
                    a.light(href="./assets/portfolio1.jpg")
                        img(src="./assets/portfolio1.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio2.jpg")
                        img(src="./assets/portfolio2.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio3.jpg")
                        img(src="./assets/portfolio3.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio4.jpg")
                        img(src="./assets/portfolio4.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio5.jpg")
                        img(src="./assets/portfolio5.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio6.jpg")
                        img(src="./assets/portfolio6.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio7.jpg")
                        img(src="./assets/portfolio7.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio8.jpg")
                        img(src="./assets/portfolio8.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio9.jpg")
                        img(src="./assets/portfolio9.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio10.jpg")
                        img(src="./assets/portfolio10.jpg", alt="").photo
                li.glide__slide
                    a.light(href="./assets/portfolio11.jpg")
                        img(src="./assets/portfolio11.jpg", alt="").photo
        .glide__bullets(data-glide-el="controls[nav]")
            button.glide__bullet(data-glide-dir="=0")
            button.glide__bullet(data-glide-dir="=1")
            button.glide__bullet(data-glide-dir="=2")
            button.glide__bullet(data-glide-dir="=3")
            button.glide__bullet(data-glide-dir="=4")
            button.glide__bullet(data-glide-dir="=5")
            button.glide__bullet(data-glide-dir="=6")
            button.glide__bullet(data-glide-dir="=7")
            button.glide__bullet(data-glide-dir="=8")
            button.glide__bullet(data-glide-dir="=9")
            button.glide__bullet(data-glide-dir="=10")
            button.glide__bullet(data-glide-dir="=11")