section.reviews
    h1.heading Отзывы о нашей работе
    .glide2
        .glide__track(data-glide-el="track")
            ul.glide__slides
                li.glide__slide
                    img(src="./assets/review1.png", alt="").photo
                li.glide__slide
                    img(src="./assets/review2.png", alt="").photo
                li.glide__slide
                    img(src="./assets/review3.png", alt="").photo
                li.glide__slide
                    img(src="./assets/review4.png", alt="").photo
                li.glide__slide
                    img(src="./assets/review5.png", alt="").photo