section.services#services
    h1.heading Стоимость услуг
    p.description Наше агенство предлагает Вам три тарифа работы с Instagram аккаунтом:
    .tariffs
        .item
            h6.title ТАРИФ «START»
            span.price 10 000₽
            p.description В тарифный план входит:
            ul
                li Полное ведение Instagram
                li Разработка оригинальной концепции ведения аккаунта
                li Создание уникального контент-плана по постам
                li Создание визуально привлекательного фото-плана
                li Создание уникальных Stories
                li Выкладка от 12 до 16 постов в месяц
                li Выкладка от 30 до 60 Stories в месяц
                li Подключение к  программам по продвижению
                li Еженедельная и ежемесячная аналитика аккаунта и отчет в конце месяца
        .item
            h6.title ТАРИФ «DRIVE»
            span.price 15 000₽
            p.description В тарифный план входит:
            ul
                li Полное ведение Instagram
                li Разработка оригинальной концепции ведения аккаунта
                li Создание уникального контент-плана по постам
                li Создание визуально привлекательного фото-плана
                li Создание уникальных Stories
                li Выкладка от 20-24 постов в месяц
                li Выкладка от 90 до 150 Stories в месяц
                li Подключение к  программам по продвижению
                li Еженедельная и ежемесячная аналитика аккаунта и отчет в конце месяца
                li Настройка 2х таргетированных реклам в месяц
        .item
            h6.title ТАРИФ «VIP»
            span.price 20 000₽
            p.description В тарифный план входит:
            ul
                li Анализ профиля бренда в соц. сети;
                li Анализ конкурентов
                li Сегментация Целевой Аудитории
                li Концепция продвижения
                li Вовлечение пользователей: создание обсуждений, проведение конкурсов (согласуется с заказчиком)
                li Аналитика: проведение опросов и сбор обратной связи
                li Разработка оригинальной концепции ведения аккаунта
                li Ситуативные публикации вне контент-плана, если того требует информационный повод
                li Создание уникального контент-плана по постам
                li Создание визуально привлекательного фото-плана
                li Создание уникальных Stories
                li Выкладка от 20-24 постов в месяц
                li Выкладка от 90 до 150 Stories в месяц
                li Подключение к программам по продвижению
                li Ответ на сообщения в Директ, ответ на комментарии (общие ответы)
                li Еженедельная и ежемесячная аналитика аккаунта и отчет в конце месяца
                li Настройка 4х таргетированных реклам в месяц
                li Подбор площадок для публикации рекламных постов (вложений)