section.start
    img.iphone(src="./assets/iphone.png")
    .photos
        img(src="./assets/photo1.png", alt="Фотография")
        img(src="./assets/photo2.png", alt="Фотография")
        img(src="./assets/photo3.png", alt="Фотография")
    p 
        | SMM - агенство, специализирующееся на интернет - маркетинге и продвижении в социальных сетях. 
        | <br>Мы точно знаем, как раскачать Ваш бизнес и найти вашего потенциального клиента!
    h1.heading ASSMM