section.start
    img.iphone(src="./assets/iphone.png" alt="Скриншот профиля инстаграм аккаунта A.S SMM")
    .photos
        img(src="./assets/photo1.jpg", alt="Фотография")
        img(src="./assets/photo2.jpg", alt="Фотография")
        img(src="./assets/photo3.jpg", alt="Фотография")
    p 
        | SMM - агенство из Ростова-на-Дону, специализирующееся на интернет - маркетинге и продвижении в социальных сетях. 
        | <br>Мы точно знаем, как раскачать Ваш бизнес и найти вашего потенциального клиента!
    h1.heading A.S SMM