head
    include meta.pug
    title SMM агенство – A.S SMM
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="./styles/main.scss")